<mat-accordion multi="true" *ngIf="posts.length > 0"> <!-- multi permette di mantenere aperti i pannelli espansi quando se ne apre un'altro -->
    <mat-expansion-panel *ngFor="let post of posts">
        <mat-expansion-panel-header>
            {{ post.title }}
        </mat-expansion-panel-header>
        <p>{{ post.content }}</p>
        <mat-action-row>
            <button mat-button color="primary">MODIFICA</button>
            <button mat-button color="warn" (click)="onDelete(post.id!)">ELIMINA</button>
        </mat-action-row>
    </mat-expansion-panel>
</mat-accordion>
<p class="mat-body-1, info-text" *ngIf="posts.length <= 0">Non hai inserito ancora nessun post!</p>
